body{
font-family: Arial;
background:#f4f4f4;
margin:0;
padding:0;
}

.title{
text-align:center;
margin-top:20px;
}

.container{
display:flex;
padding:20px;
gap:20px;
}

.left{
width:50%;
text-align:center;
}

.right{
width:50%;
display:grid;
grid-template-columns:1fr 1fr;
grid-template-rows:220px 220px;
gap:15px;
}

.chart-box{
background:white;
border-radius:10px;
padding:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

canvas{
width:100% !important;
height:100% !important;
}

img{
max-width:90%;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.table-container{
padding:20px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th, td{
padding:10px;
border:1px solid #ccc;
text-align:center;
}

th{
background:#2e7d32;
color:white;
}