body{
font-family: Arial;
background:#f4f4f4;
margin:0;
padding:0;
background-image:
linear-gradient(
rgba(255,255,255,0.6),
rgba(255,255,255,0.6)
),
url("pechay.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;

}

.title{
margin:0;
padding:20px;

text-align:center;
font-size:32px;
font-weight:bold;
color:white;

/* full-width rectangle */
width:100%;

/* nice dashboard color */
background: rgba(34, 139, 34, 0.9); /* farm/green theme */

box-shadow:0 3px 8px rgba(0,0,0,0.2);
}

.container{
display:flex;
align-items:stretch; /* makes both sides same height */
gap:20px;
padding:20px;
}

.left{
flex:1;

background: rgba(255,255,255,0.8);

padding:20px;
border-radius:10px;

box-shadow:0 4px 8px rgba(0,0,0,0.2);

display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;
}

.left img{
width:100%;
max-width:450px;
height:auto;
}

.right{
width:50%;
display:grid;
grid-template-columns:1fr 1fr;
grid-template-rows:220px 220px;
gap:15px;
}

.chart-box{

background: rgba(255,255,255,0.8); /* rectangle with 0.8 opacity */

padding:15px;
margin:10px;

border-radius:10px;

box-shadow:0 4px 8px rgba(0,0,0,0.2);

}

canvas{
width:100% !important;
height:100% !important;
}

img{
max-width:90%;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.table-container{

background: rgba(255,255,255,0.8);

margin:30px;
padding:20px;

border-radius:10px;

box-shadow:0 4px 8px rgba(0,0,0,0.2);

}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th, td{
padding:10px;
border:1px solid #ccc;
text-align:center;
}

th{
background:#2e7d32;
color:white;
}